  
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#Cluttering files
*.iml
*.class
*.xml
src/.DS_Store
.DS_Store
